# Ignore EMNIST raw files
data/EMNIST/raw/*idx3-ubyte
data/EMNIST/raw/*idx1-ubyte
data/EMNIST/raw/gzip.zip
data/EMNIST/raw/gzip

emnist_env
.venv

.full_model.pth
.pruned_model.pth

training_err.txt
training_log.txt

run_training.ps1

__pycache__